#timeSlider{
	left:0%;
	width:80%;
	margin:10px 0 0 10px;
}

#kSlider{
	left:0%;
	width:80%;
	margin:10px 0 0 10px;
}

#consigne{
	margin-top:50px;
}


#sidebar{
	float:left;
	left:0px;
	width:20%;
	min-height: 500px;
	text-align:center;
}

#content{
	position:relative;
	left:1px;
}

#dispositif{
	position:relative;
	float:left;
}

#verandaCanvas{
	position:absolute;
	z-index: 0;
	top:135px;
	left:300px;
	border:1px solid #d3d3d3;	
}

#vmcCanvas{
	position:absolute;
	z-index: 0;
	top:155px;
	left:275px;	
}

#ballonCanvas{
	position:absolute;
	z-index: 1;
	top:320px;
	left:200px;
	border:1px solid #d3d3d3;
	background-color: #ccc;
}

#ballonOutCanvas{
	position:absolute;
	z-index: 1;
	top:250px;
	left:10px;
}

#capteurCanvas{ 
	position:absolute;
	z-index: 1;
	top:300px;
	left:452px;
}

#solarOutCanvas{ 
	position:absolute;
	z-index: 1;
	top:332px;
	left:260px;
}

#solarInCanvas{ 
	position:absolute;
	z-index: 1;
	top:428px;
	left:260px;
}

#T1{ 
	position:absolute;
	z-index: 2;
	font-weight: bold;
	top:310px;
	left:480px;
	width:150px
}

#statsCapteur{ 
	position:absolute;
	z-index: 2;
	top:330px;
	left:480px;
	width:150px
}

#T2{
	position:absolute;
	color :#fff;
	font-weight: bold;
	z-index: 2;
	left:217px; 
	top:410px;	
}

#T3{
	position:absolute;
	color :#fff;
	font-weight: bold;
	z-index: 2;
	left:217px; 
	top:340px;	
}

#T4{
	position:absolute;
	color :#fff;
	font-weight: bold;
	z-index: 2;
	left:140px; 
	top:200px;
}

#statsMaison{
	position:absolute;
	color :#fff;
	z-index: 2;
	left:60px; 
	top:220px;
}

#currentDeltaMaison{
	position:absolute;
	color :#0f0;
	font-weight: bold;
	z-index: 2;
	left:110px; 
	top:30px;
}

#deltaMoyenMaison{
	position:absolute;
	color :#0f0;
	z-index: 2;
	left:120px; 
	top:50px;
}

#currentHeatLoss{
	position:absolute;
	color :#0f0;
	z-index: 2;
	left:110px; 
	top:90px;
}

#currentHeatNeeded{
	position:absolute;
	color :#0f0;
	z-index: 2;
	left:110px; 
	top:110px;
}

#T5{
	position:absolute;
	color :#fff;
	font-weight: bold;
	z-index: 2;
	left:360px; 
	top:150px;
}

#statsVeranda{
	position:absolute;
	color :#fff;
	z-index: 2;
	left:320px; 
	top:170px;
	width:150px; 
}

#qday{
	position:absolute;
	z-index: 2;
	color :#fff;
	left:20px; 
	top:370px; 
}

#qDayNeeded{
	position:absolute;
	z-index: 2;
	color :#0f0;
	left:20px; 
	top:390px; 
}

#qDayApoint{
	position:absolute;
	z-index: 2;
	color :#0f0;
	left:20px; 
	top:410px; 
}

#T6{
	position:absolute;
	z-index: 2;
	left:350px; 
	top:410px;
	width:150px; 
}

#pCurrent{
	position:absolute;
	z-index: 2;
	left:350px; 
	top:335px;
	width:150px; 
}

#kExt{
	position:absolute;
	color :#00f;
	font-weight: bold;
	z-index: 2;
	left:400px; 
	top:50px;
	width:150px;
}

#statsExt{
	position:absolute;
	color :#00f;
	z-index: 2;
	left:400px; 
	top:70px;
	width:250px;
}

