<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>Solaire Habrico</title>
	    <link rel="stylesheet" href="static/css/main.css"/>
	    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
	    <link rel="stylesheet" href="static/node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css"/>

	    <script src="static/node_modules/vue/dist/vue.js"></script>
	    <script src="static/node_modules/vue-resource/dist/vue-resource.min.js"></script>
	    <script src="static/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
		<script src="static/app/appDatas.js"></script>
		<script src="static/app/drawMethods.js"></script>
		<script src="static/app/actionsMethods.js"></script>
		<script src="static/app/solarApp.js"></script>
	<head>

	<body>
		<div id="solar-app">
			<div >
				<h1>HABRICO<small> Quelques kWh solaires : {{qYear}}kWh</small></h1>
				<button type="button" class="btn btn-default" v-on:click="yesterday(sYear, sMonth, sDay)">Hier</button>
				<input 
	    			id="timeSlid" 
	    			data-slider-id='timeSlider' 
	    			type="text" 
	    			:data-slider-min="firstTimeIndex" 
	    			:data-slider-max="lastTimeIndex" 
	    			data-slider-step="1" 
	    			:data-slider-value="currentTimeIndex"
				/>
				<button type="button" class="btn btn-default" v-on:click="tomorrow(sYear, sMonth, sDay)">Demain</button>
			</div>
			<div id="sidebar">
		    	<div>
		    		<h1>{{cTime}}</h1>
		    		<h1><small>Le {{sDay}}/{{sMonth}}/{{sYear}}</small></h1>
		    	</div>

				<div>
					<select v-model="sYear">
						<option v-for="option in yearOptions" v-bind:value="option">
							{{ option }}
						</option>
					</select>
				</div>
				<div>
		    		<select v-model="sMonth">
					  	<option v-for="option in monthOptions" v-bind:value="option.value">
						    {{ option.text }}
						</option>
					</select>
		    	</div>
		    	<div>
		    		<select v-model="sDay">
					  	<option disabled value=""></option>
					  	<option v-for="option in dayOptions">
						    {{ option }}
						</option>
					</select>
		    	</div>
		    	<button type="button" class="btn btn-default" v-on:click="getData()">Go !</button>
			</div>
			<div id=content>
				
				<div id="dispositif">
					<canvas id="maisonCanvas" width="300" height="450"></canvas>
					<div id="statsMaison">
						<small>min {{minMaison}}°C - moy {{moyMaison}}°C - max {{maxMaison}}°C</small>
					</div>
					<div id="deltaMoyenMaison">
						<small>moy {{moyDelta}}°C</small>
					</div>
					<div id="T4">{{kAmbiance}}°C</b></div>
					<div id="currentDeltaMaison">Delta {{currentDelta}}°C</b></div>
					<div id="T5">{{kVeranda}}°C</div>
					<div id="statsVeranda" width="30" height="20">
						<small>min {{minVeranda}}°C - max {{maxVeranda}}°C</small>
					</div>
					<canvas id="verandaCanvas" width="150" height="180"></canvas>
					<canvas id="vmcCanvas" width="50" height="15"></canvas>
					<canvas id="ballonCanvas" width="70" height="120"></canvas>
					<canvas id="ballonOutCanvas" ></canvas>
					<div id="T1">{{kPanel}}°C</div>
					<div id="statsCapteur">
						<small> min {{minCapteur}}°C - max {{maxCapteur}}°C</small>
					</div>
					<div id="T6">{{kGlycolOut}}°C --> </div>
					<div id="T3">{{kBaloonUp}}°C</div>
					<div id="T2">{{kBaloonDown}}°C</div>
					<div id="pCurrent"> <-- {{pCurrent}}kW</div>
					<div id="qday">Production du jour : {{qDay}} kWh</div>
					<canvas id="capteurCanvas" width="75" height="150"></canvas>
					<canvas id="solarOutCanvas" width="250" height="15"></canvas>
					<canvas id="solarInCanvas" width="250" height="15"></canvas>
					<div id="kExt" width="150" height="20">{{kExt}}°C à {{meteoTime}}h00</div>
					<div id="statsExt" width="30" height="20">
						<small>min {{minExt}}°C - moy {{moyExt}}°C - max {{maxExt}}°C</small>
					</div>
				</div>
				
		    </div>
		</div>
		
	</body>
</html>